---
http_interactions:
- request:
    method: get
    uri: https://testecomm.sella.it/gestpay/gestpayws/WSCryptDecrypt.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"https://ecomm.sella.it/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"https://ecomm.sella.it/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"https://ecomm.sella.it/\">\r\n
        \     <s:element name=\"Encrypt\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"shopLogin\"
        nillable=\"true\" type=\"s:string\" />\r\n            <s:element minOccurs=\"1\"
        maxOccurs=\"1\" name=\"uicCode\" nillable=\"true\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"amount\" nillable=\"true\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"shopTransactionId\" nillable=\"true\" typ[...]
- request:
    method: post
    uri: https://testecomm.sella.it/gestpay/gestpayws/WSCryptDecrypt.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://ecomm.sella.it/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:Encrypt><tns:shopLogin>GESPAY57135</tns:shopLogin><tns:buyerEmail>kagami@kyoani.jp</tns:buyerEmail><tns:buyerName>Kagami</tns:buyerName><tns:amount>20.40</tns:amount><tns:shopTransactionId>RS012398723422</tns:shopTransactionId><tns:uicCode>242</tns:uicCode><tns:languageId>2</tns:languageId><tns:requestToken>MASKEDPAN</tns:requestToken></tns:Encrypt></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://ecomm.sella.it/Encrypt"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><EncryptResponse
        xmlns="https://ecomm.sella.it/"><EncryptResult><GestPayCryptDecrypt xmlns=""><TransactionType>ENCRYPT</TransactionType><TransactionResult>OK</TransactionResult><CryptDecryptString>qFuAQHY5L8TrjquQ6bDBYafOws9fdFCnANMqiD1CsF5TNqrAbRIbXEFX*BGDQaNz65d5xSV2AZNFUhEtHd*IudvbRvOAnVqgIunFqe11rCt6BhIdOcXRL0U2tcFMlsrCvSl4_iadMlJteJTbAQ4sQnql1QN6vE3QvwKcWZaN4zPARjbYbTHS5T0Qxo0hB2DRiUFlMarx7nxRJiOHm6FugdrYIiuennCxWMk0YxRhRykUWop*KC0vTX8akxaO8WTmbRCYQB1VknC_O4*cMHGGXQ</CryptDecryptString><ErrorCode>0</ErrorCode><ErrorDescription></ErrorDescription></GestPayCryptDecrypt></EncryptResult></EncryptResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 11 Jun 2014 11:11:14 GMT
recorded_with: VCR 2.9.2
